<table>
<% var i; for (i=0; i < preguntas.length; i ++) { %>
	<tr>
		<td align="left">
			<a href="/admin/cuestionarios/<%= cuestionario.id %>/preguntas/<%= preguntas[i].id %>/show"><%= (i+1)+".  "%><%=preguntas[i].enunciado %></a>
		</td>
		<%if(session.user) {%>
			<td>
				<a href="/admin/cuestionarios/<%= cuestionario.id %>/preguntas/<%= preguntas[i].id %>/edit"><button>editar</button></a>
			</td>
			<td>
				<form method="post" action="/admin/cuestionarios/<%= cuestionario.id %>/preguntas/<%= preguntas[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar: <% preguntas[i].pregunta %>');">
						borrar
					</button>
				</form>
			</td>
		<%}%>
	</tr>
<% } %>
</table>
<p>
	<%if(session.user) {%>
		<a href="/admin/cuestionarios/<%= cuestionario.id %>/preguntas/new"><button type="button">Crear pregunta</button></a>
	<%}%>
</p>